{% extends 'base.html' %}

{% block content %}
<h1>{{contenu['title']}}</h1>
<div id="page">
    <div class="inscription">
        <form class="form-signin" id="formulaire" action="{{contenu['url']}}" method="post">
            <h2 class="form-signin-heading">{{contenu['subtitle']}}</h2>
            <input type="text" id="nom" name="nom" class="form-control" placeholder="Nom" value="{{contenu['nom']}}" required autofocus>
            <input type="text" id="prenom" name="prenom" class="form-control" placeholder="Prénom" value="{{contenu['prenom']}}" required>
            <input type="text" name="classe" id="classe" class="form-control" placeholder="Classe" value="{{contenu['classe']}}" required>
            <input type="number" name="age" id="age" class="form-control" value="{{contenu['age']}}" required>

            <fieldset>
                <a href="{{url_for('index')}}" class="btn btn-lg btn-primary btn-block form-button" id="tous">Tous les étudiants</a>
                <button id="bouton" class="btn btn-lg btn-primary btn-block form-button" type="submit">Inscrire</button>
            </fieldset>
            
        </form>   
    </div>
</div>
{% endblock %}